<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret</title>
</head>
<body>
<h1>This is a secret</h1>
Welcome, <%= user.email %>

<ul>
    <li><a href="/logout"> Logout</a> </li>
</ul>

</body>
</html>